h2{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
}
.topcontroll{
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 40px;
    // margin-top: 100px;
    input{
        margin-right: 30px;
    }
}
.catawrap{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    a{
        width: 100%;
    }
    ul{
        width: 100%;
        li{
            text-align: center;
        }
    }
}
.datewrap{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    .datepicker{
        width: 500px;
    }
}
.linkwrap{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    .linkitemwrap{
        display: flex;
        padding-top: 10px;
        .linkitem{
           
            width: 150px;
            height: 25px;
            border-radius: 3px;
            margin-right: 10px;
            
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: #0d6efd;
            color: white;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            i{
                font-weight: bold;
                font-size: 16px;
                margin-right: 10px;
                margin-left: 20px;
                cursor: pointer;
            }
            a{
                text-decoration: none;
                color: white;
                
            }
            
        }
    }
    
}
.form-floating{
    width: 50%;
    
    margin: auto;
    margin-top: 50px;
    .CodeMirror {
        height: 300px;
    }
}
.submitwrap{
    
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}