<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="./post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.22.2/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js">
    </script>
    <!-- icon連結 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
    <title>最新消息公告系統</title>
</head>

<body>
    <div id="app">
        <h2>新增公告</h2>
        <div class="topcontroll">
            <input v-model="title" type="text" placeholder="公告主題" class="form-control" id="basic-url"
                aria-describedby="basic-addon3" />
            <div class="dropdown">
                <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{unit}}
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li v-for="(item,index) in unitgroup" :key="index" class="dropdown-item" v-model="unit"
                        @click="changeunit(item)">{{item}}</a></li>
                </ul>
            </div>

        </div>
        <div class="catawrap">
            <div class="dropdown">
                <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{cata}}
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li v-for="(item,index) in catagroup" :key="index" class="dropdown-item" v-model="unit"
                        @click="changecate(item)">{{item}}</a></li>
                </ul>
            </div>
        </div>

        <div class="datewrap">

            <div class="input-group input-append date" id="weekYear">
                <input type="text" class="form-control datepick" name="date" value="yyyy-mm-dd" />
                <span class="input-group-addon add-on">

                </span>
            </div>

        </div>
        <div class="linkwrap">
            <input v-model="linkitem" @keyup.enter="addlinktogroup" type="text" placeholder="相關連結(貼上連結後請按下Enter)"
                class="form-control" id="basic-url" aria-describedby="basic-addon3" />
            <div class="linkitemwrap">
                <div class="linkitem" v-for="(item,index) in linkgroup" :key="index">
                    <i @click="delelink(index)" class="bi bi-x-circle-fill"></i>
                    <span><a v-bind:href="item" target="_blank" rel="noopener noreferrer">相關連結</a></span>
                </div>
            </div>

        </div>

        <div class="form-floating">
            <textarea id="simplemde"></textarea>

        </div>
        <div class="submitwrap">
            <button @click="submit" type="button" class="btn btn-primary">送出公告</button>
        </div>




    </div>
    </div>
    <script>
        var simplemde
        var outputdate = ''
        var Toolbar_Base = {
            "bold": {
                name: "bold",
                action: SimpleMDE.toggleBold,
                className: "fa fa-bold",
                title: "粗體"
            },
            "italic": {
                name: "italic",
                action: SimpleMDE.toggleItalic,
                className: "fa fa-italic",
                title: "斜體"
            },
            "strikethrough": {
                name: "strikethrough",
                action: SimpleMDE.toggleStrikethrough,
                className: "fa fa-strikethrough",
                title: "Strikethrough"
            },
            "heading": {
                name: "heading",
                action: SimpleMDE.toggleHeadingSmaller,
                className: "fa fa-header",
                title: "Heading"
            },
            "heading-smaller": {
                name: "heading-smaller",
                action: SimpleMDE.toggleHeadingSmaller,
                className: "fa fa-header fa-header-x fa-header-smaller",
                title: "Smaller Heading"
            },
            "heading-bigger": {
                name: "heading-bigger",
                action: SimpleMDE.toggleHeadingBigger,
                className: "fa fa-header fa-header-x fa-header-bigger",
                title: "Bigger Heading"
            },
            "heading-1": {
                name: "heading-1",
                action: SimpleMDE.toggleHeading1,
                className: "fa fa-header fa-header-x fa-header-1",
                title: "H1"
            },
            "heading-2": {
                name: "heading-2",
                action: SimpleMDE.toggleHeading2,
                className: "fa fa-header fa-header-x fa-header-2",
                title: "H2"
            },
            "heading-3": {
                name: "heading-3",
                action: SimpleMDE.toggleHeading3,
                className: "fa fa-header fa-header-x fa-header-3",
                title: "H3"
            },
            "separator-1": {
                name: "separator-1"
            },
            "code": {
                name: "code",
                action: SimpleMDE.toggleCodeBlock,
                className: "fa fa-code",
                title: "新增程式碼"
            },
            "quote": {
                name: "quote",
                action: SimpleMDE.toggleBlockquote,
                className: "fa fa-quote-left",
                title: "引用"
            },
            "unordered-list": {
                name: "unordered-list",
                action: SimpleMDE.toggleUnorderedList,
                className: "fa fa-list-ul",
                title: "項目符號清單"
            },
            "ordered-list": {
                name: "ordered-list",
                action: SimpleMDE.toggleOrderedList,
                className: "fa fa-list-ol",
                title: "編號清單"
            },
            "clean-block": {
                name: "clean-block",
                action: SimpleMDE.cleanBlock,
                className: "fa fa-eraser fa-clean-block",
                title: "Clean block"
            },
            "separator-2": {
                name: "separator-2"
            },
            "link": {
                name: "link",
                action: SimpleMDE.drawLink,
                className: "fa fa-link",
                title: "插入連結"
            },
            "image": {
                name: "image",
                action: SimpleMDE.drawImage,
                className: "fa fa-picture-o",
                title: "插入圖片"
            },
            "table": {
                name: "table",
                action: SimpleMDE.drawTable,
                className: "fa fa-table",
                title: "插入表格"
            },
            "horizontal-rule": {
                name: "horizontal-rule",
                action: SimpleMDE.drawHorizontalRule,
                className: "fa fa-minus",
                title: "插入水平線"
            },
            "separator-3": {
                name: "separator-3"
            },
            "preview": {
                name: "preview",
                action: SimpleMDE.togglePreview,
                className: "fa fa-eye no-disable",
                title: "預覽"
            },
            "side-by-side": {
                name: "side-by-side",
                //SimpleMDE.toggleFullScreen
                action: SimpleMDE.toggleSideBySide,
                className: "fa fa-columns no-disable no-mobile",
                title: "切換至 左右預覽模式"
            },
            "fullscreen": {
                name: "fullscreen",
                action: SimpleMDE.toggleFullScreen,
                className: "fa fa-arrows-alt no-disable no-mobile",
                title: "切換至 全螢幕模式"
            },
            "separator-4": {
                name: "separator-4"
            },
            "guide": {
                name: "guide",
                action: "https://simplemde.com/markdown-guide",
                className: "fa fa-question-circle",
                title: "Markdown Guide"
            },
            "separator-5": {
                name: "separator-5"
            },
            "undo": {
                name: "undo",
                action: SimpleMDE.undo,
                className: "fa fa-undo no-disable",
                title: "復原"
            },
            "redo": {
                name: "redo",
                action: SimpleMDE.redo,
                className: "fa fa-repeat no-disable",
                title: "取消復原"
            }
        }
        var Toolbar_br = {
            name: "br",
            title: "強迫換行",
            className: "fa fa-level-down fa-rotate-90",
            action: function (editor) {
                var cm = editor.codemirror;
                cm.replaceSelection("<br />");
            }
        };
        var app = new Vue({
            el: "#app",
            data: {
                title: '',
                unit: '各處室',
                cata: '公告分類',
                date: '',
                htmlcontent:'',
                content: '',
                piclink: '',
                unitgroup: ['校長室', '教務處', '總務處', '學務處', '輔導室', '人事室', '會計室', '圖書館', '國中部'],
                catagroup: ['校務公告', '學校榮譽', '獎助學金', '教師研習', '校外活動', '下載資料', '教師研習心得', '升學資訊', '政令宣導'],
                linkgroup: [],
                linkitem: '',
                postlinkgroup: ''
            },
            methods: {
                changeunit(item) {
                    this.unit = item;
                },
                changecate(item) {
                    this.cata = item
                },
                delelink(index) {
                    console.log(index)
                    this.linkgroup.splice(index, 1)
                    this.postlinkgroup = ''
                    for (let i = 0; i < this.linkgroup.length; i++) {
                        this.postlinkgroup += this.linkgroup[i] + ','
                    }
                    this.postlinkgroup = this.postlinkgroup.slice(0, this.postlinkgroup.length - 1)

                },
                addlinktogroup() {
                    if (this.linkgroup.length < 4) {
                        this.linkgroup.push(this.linkitem)

                        this.linkitem = ''
                        this.postlinkgroup = ''
                        for (let i = 0; i < this.linkgroup.length; i++) {
                            this.postlinkgroup += this.linkgroup[i] + ','
                        }
                        this.postlinkgroup = this.postlinkgroup.slice(0, this.postlinkgroup.length - 1)

                    } else {
                        alert('最多四個連結歐')
                    }

                },
                submit() {
                    console.log(outputdate);

                    axios({
                            method: "get",
                            url: "https://script.google.com/macros/s/AKfycbwZB_juz4HIRhug3v3bxmCvTR1YWG5qYx7QUMdkG-W-PiTnVrorsBKsHtn7UKvEH82A/exec",
                            params: {
                                title: this.title,
                                unit: this.unit,
                                date: outputdate,
                                cata: this.cata,
                                content: this.htmlcontent,
                                linkgroup: this.postlinkgroup,
                                piclink: this.piclink
                            },
                        })
                        .then((response) => {
                            console.log(response.data);
                            alert('新增公告成功')
                            
                            this.title = '';
                            this.unit = '各處室';
                            this.cata = '公告分類';
                            this.content = '';
                            this.linkgroup = '';
                            this.piclink = '';
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                    
                }
            },
            mounted() {
                simplemde = new SimpleMDE({
                    el: document.getElementById('simplemde'),
                    autofocus: false,
                    status: false,
                    spellChecker: false,
                    renderingConfig: {
                        codeSyntaxHighlighting: true,
                        highlightingTheme: 'atom-one-light'
                    },
                    lineWrapping: true,
                    placeholder: '在此輸入公告內容',
                    toolbar: [Toolbar_Base['heading'],
                        Toolbar_Base['bold'],
                        Toolbar_Base['italic'],
                        Toolbar_Base['link'], Toolbar_Base['image'],
                        "|", Toolbar_Base['ordered-list'],
                        Toolbar_Base['unordered-list'],
                        Toolbar_Base['horizontal-rule'], "|",
                        Toolbar_Base['undo'],
                        Toolbar_Base['redo'],
                        "|",
                        Toolbar_Base['preview'],
                        Toolbar_Base['fullscreen'],
                        Toolbar_br,
                    ]
                })
                simplemde.value(this.editeventdescribe)
                simplemde.codemirror.on("change", () => {
                    this.content = simplemde.value()
                    // simplemde.markup(simplemde.value())
                    this.htmlcontent = SimpleMDE.prototype.markdown(this.content)
                });
                $('#weekYear').datepicker({
                    todayHighlight: true,
                    format: "yyyy-mm-dd",
                    viewMode: "month",
                    minViewMode: "month"
                });
                $("#weekYear").on("changeDate", function (event) {
                    outputdate = event.date.getFullYear() + '-' + (event.date.getMonth() + 1) + '-' +
                        event.date.getDate()

                });
            },
        });
    </script>
</body>

</html>